/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}
/* Changing the background colour for the header */

header {
	background-color: #7d8aab;
}

/* Changing the background color for the navigation bar */

.card-title {
	font-family: Raleway;
	color: #d8a1a6;
	text-align: center;
}

.navbar {
	background-color: #fffcf8;
}

/* Effect on social media buttons */


.btn:hover {
	background-color: #7d8aab !important;
	color: #fffcf8;
	opacity: .5;
}

.btn {
	background-color: #d8a1a6;
	color: #fffcf8;
}

.btn:visited {
	background-color: #7d8aab;
	color: #fffcf8;
	opacity: .5;
}

.btn1:hover {
	background-color: #d8a1a6 !important;
	color: #fffcf8;
	opacity: .5;
}

.btn1 {
	background-color: #d8a1a6;
	border-color: transparent;
	color: #fffcf8;
}

.btn1:visited {
	background-color: #d8a1a6;
	color: #fffcf8;
	border-color: #d8a1a6;
	opacity: .5;
}

.btn2:hover {
	background-color: #7d8aab !important;
	color: #fffcf8;
	opacity: .5;
}

.btn2 {
	background-color: #7d8aab;
	border-color: transparent;
	color: #fffcf8;
}

.btn2:visited {
	background-color: #7d8aab;
	color: #fffcf8;
	border-color: #7d8aab;
	opacity: .5;
}

.btn3:hover {
	background-color: #fffcf8 !important;
	color: #444444;
	border-color: #444444;
	opacity: .5;
}

.btn3 {
	background-color: #fffcf8;
	border-color: #444444;
	color: #444444;
}

.btn3:visited {
	background-color: #fffcf8;
	color: #444444;
	border-color: #444444;
	opacity: .5;
}

.dropdown-toggle {
	font-family: Raleway; 
	border-color: transparent;
	backgound-color: transparent; 
}

footer a:hover {
	opacity: .5;
}