/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}
/* Changing the background colour for the header */

header {
	background-color: #7E8BAB;
}

/* Changing the background color for the navigation bar */

.card-title {
	font-family: Raleway;
	color: #D9A2A7;
	text-align: center;
}

.navbar {
	background-color: #fffcf8;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.btn {
	background-color: #D9A2A7;
	color: #7E8BAB;
}

.dropdown-toggle {
	font-family: Raleway; 
	border-color: transparent;
	backgound-color: transparent; 
}